main {
    height: 500px;
    border: 2px solid green;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
    border: 2px dashed purple;
    left: 0;
    right: 0;
    margin: auto;
}

.flex-container div {
    border: 1px solid red;
    color: blue;
    font-size: 30px;
    text-align: center;
    width: 120px;
    height: 50px;
    padding: 30px;
    background-color: pink;
    margin: 20px;
}